*{
  margin: 0px;
  padding: 0px;
}


:root {
  --primary-color: #f8f9fa;
  --secondary-color: #2ecc71;
  --background-color: #ececf1;
  --text-color: #2c3e50;
  --bar-color:#5aa5fe;
  --font-color:#495057;
  --font-color2:#ffffff;
  --shadow-color:#1f1f1f;
  --active-color:#22b378;
  --hover-color:#181c2e;
  --hover-color2:#f6f6fa;
  --button-color:#22b378;
  --side-nav:#21263c;
  
}